<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="nav-container">
        <ul class="nav-items">
          <a href="/"><li>Home</li></a>
          <a href="/add-product"><li>Add</li></a>
          <a href="/contact-us"><li>Contact US</li></a>
        </ul>
      </nav>
    </header>
    <div class="container-404">Page Not Found</div>
  </body>
</html>
